<!doctype html>
    <head>
        <!-- Normal header stuff -->
        <title>The Pet Parlour</title>
    </head>
    <body>
        <h1>My Pet Adoption Agency</h1>
        {% extends "base.html" %}
        {% block content %}
        <h1>Pets up for adoption</h1>
        <ul>
            {% for pet in pets %}
            <li>
            <a href="{% url 'pet_detail' pet.id %}">
            {{pet.name|capfirst}}
            </a>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}            
    </body>
</html>
